/* src/components/NavBar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #3540e3;
}
  
.navbar-brand {
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
}
  
.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
.navbar-nav li {
    margin-right: 50px;
    font-size: 20px;
}
  
.navbar-nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
.navbar-nav a:hover {
    color: lightskyblue;
}
  
.cart-icon {
    font-size: 3.5rem;
    color: white;
    position: relative;
}
  
.cart-count {
    position: absolute;
    top: -4px;
    right: -8px;
    background-color: rgb(217, 255, 80);
    color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
  
a.active {
    color: yellow;
}